[submodule ".registry"]
	path = .registry
	url = https://github.com/janmarvin/janmarvin.r-universe.dev
	branch = HEAD
[submodule "diffr2"]
	path = diffr2
	url = https://github.com/JanMarvin/diffr2
[submodule "htmltools"]
	path = htmltools
	url = https://github.com/JanMarvin/htmltools
	registered = false
[submodule "libxdiffR"]
	path = libxdiffR
	url = https://github.com/JanMarvin/libxdiffR
[submodule "mschart"]
	path = mschart
	url = https://github.com/JanMarvin/mschart
	branch = sec_y_axis
[submodule "msoc"]
	path = msoc
	url = https://github.com/JanMarvin/msoc
[submodule "nlsur"]
	path = nlsur
	url = https://github.com/JanMarvin/nlsur
[submodule "openxlsx2"]
	path = openxlsx2
	url = https://github.com/JanMarvin/openxlsx2
[submodule "ovbars"]
	path = ovbars
	url = https://github.com/JanMarvin/ovbars
[submodule "readsas"]
	path = readsas
	url = https://github.com/JanMarvin/readsas
[submodule "readspss"]
	path = readspss
	url = https://github.com/JanMarvin/readspss
